<div class='stack' style='<%= style_position(position, unit:'px') %>'>
  <%
    cards = sort_by ? card_stack.sorted(sort_by: sort_by) : card_stack.cards
    cards.select{ |card| card_stack.owner.nil? || card.owner.nil? || card.owner == card_stack.owner }.each.with_index do |card, index| %>
      <%= render partial:'card', locals: { x: (index * spacing_x), y: (index * spacing_y), card: card, back: back, selectable: defined?(selectable) ? selectable : false } %>
  <% end %>
</div>
